{{if headers}}{{ "Module" }}{{"\t"}}{{ "FQDN" }}{{"\t"}}{{ "Channel" }}{{"\t"}}{{ "Version" }}{{"\t"}}{{ "Template" }}{{"\t"}}{{ "State" }}{{end}}
{{- range .Items -}}
{{$descriptor := .Object.spec.descriptor.component}}{{$metadata := .Object.metadata}}
{{ lastPartOfFQDN $descriptor.name }}{{"\t"}}{{ $descriptor.name }}{{"\t"}}{{ .Object.spec.channel }}{{"\t"}}{{ $descriptor.version }}{{"\t"}}{{ $metadata.namespace }}/{{ $metadata.name }}{{"\t"}}{{ index $metadata.annotations "state.cmd.kyma-project.io" }}
{{- end -}}
