# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Vendored dependencies
vendor
bin
# IDEs
.idea
.vscode

# Changelog temporary directory
.changelog/

# Kyma workspace and crt-file (created by deploy cmd)
workspace
kyma.crt
main
