# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Tmp directory
tmp/

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Vendored dependencies
vendor
bin
# IDEs
.idea
.vscode
.run

# OS temporary files
.DS_Store

# Changelog temporary directory
.changelog/

# Kyma workspace and crt-file (created by deploy cmd)
workspace
kyma.crt
mod

# Generated template files (generate by module create)
/template.yaml

dist/
tests/btp/sm.env
tests/btp/hana-admin-api-binding.json
tests/btp/config.json
tests/**/node_modules/
tests/btp/sample-http-db-nodejs/bookstore/package-lock.json
tests/btp/tf/*.tfvars
tests/btp/tf/.terraform*
tests/btp/tf/terraform.tfstate*
tests/btp/tf/creds.json
tests/btp/tf/btp-access-credentials-secret.yaml
tests/btp/tf/hana-admin-creds.json
tests/btp/k8s-resources/db/books-hdi-initjob.yaml
