# These are the default owners for the whole content of the repository. The default owners are automatically added as reviewers when you open a pull request, unless different owners are specified in the file.
* @suleymanakbas91 @clebs @a-thaler @lilitgh @hisarbalik @rakesh-garimella @shorim @tobiscr @skhalash

# All .md files
*.md @kazydek @klaudiagrz @mmitoraj @majakurcius @alexandra-simeonova @superojla @NHingerl

# Owners of the .kyma-project-io folder
/.kyma-project-io/ @m00g3n @aerfio @pPrecel @magicmatatjahu
