# These are the default owners for the whole content of the repository. The default owners are automatically added as reviewers when you open a pull request, unless different owners are specified in the file.
* @kyma-project/otters

# All .md files
*.md @kyma-project/technical-writers

# serverless related commands
cmd/kyma/init @kyma-project/otters
cmd/kyma/sync @kyma-project/otters
cmd/kyma/apply @kyma-project/otters
