name: btp integration tests

on:
  workflow_dispatch:
  push:
    branches:
      - 'release-*'

jobs:
  e2e-test-btp:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.ref }}
          repository: ${{ github.event.pull_request.head.repo.full_name }}
      - uses: ./.github/actions/setup-go
      - uses: ./.github/actions/ensure-pack
      - name: compute github commit sha
        id: vars
        run: echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT
      - name: build kyma@v3 binary
        run: make build
      - uses: kyma-project/terraform-module/.github/actions/create-sap-btp-kyma@0635a02ed7c63944f2e544d27603f3d2c72fee2b
        id: create-btp-resources
        with:
          btp_subaccount_name: cli-test-${{ steps.vars.outputs.sha_short }}-${{ github.run_attempt }}
          btp_backend_url: '${{ secrets.BTP_BACKEND_URL}}'
          btp_user: '${{ secrets.BTP_BOT_USER}}'
          btp_password: '${{ secrets.BTP_BOT_PASSWORD}}'
          btp_global_account: '${{ secrets.BTP_GLOBAL_ACCOUNT }}'
          btp_idp_tenant: '${{ secrets.BTP_CUSTOM_IAS_TENANT }}'
          btp_subaccount_region: '${{ secrets.BTP_SUBACCOUNT_REGION }}'
          btp_kyma_region: '${{ secrets.BTP_KYMA_REGION }}'
          btp_kyma_plan: '${{ secrets.BTP_KYMA_PLAN }}'
      - name: ensure btp prerequisites 
        run: |
          echo 'BTP_GLOBAL_ACCOUNT = "${BTP_GLOBAL_ACCOUNT}"' >> tests/btp/tf/.tfvars
          echo 'BTP_BOT_USER = "${BTP_BOT_USER}"' >> tests/btp/tf/.tfvars
          echo 'BTP_BOT_PASSWORD = "${BTP_BOT_PASSWORD}"' >> tests/btp/tf/.tfvars
          echo 'BTP_BACKEND_URL = "${BTP_BACKEND_URL}"' >> tests/btp/tf/.tfvars
          echo 'BTP_CUSTOM_IAS_TENANT = "${BTP_CUSTOM_IAS_TENANT}"' >> tests/btp/tf/.tfvars
          echo 'BTP_KYMA_SUBACCOUNT_ID = "${BTP_KYMA_SUBACCOUNT_ID}"' >> tests/btp/tf/.tfvars
          echo 'BTP_OBJECTSTORE_SUBACCOUNT_ID = "${BTP_OBJECTSTORE_SUBACCOUNT_ID}"' >> tests/btp/tf/.tfvars
          echo 'BTP_HANA_SUBACCOUNT_ID = "${BTP_HANA_SUBACCOUNT_ID}"' >> tests/btp/tf/.tfvars
          cat tests/btp/tf/.tfvars
          make -C tests/btp prerequisites
        env:
          BTP_BACKEND_URL: '${{ secrets.BTP_BACKEND_URL}}'
          BTP_BOT_USER: '${{ secrets.BTP_BOT_USER}}'
          BTP_BOT_PASSWORD: '${{ secrets.BTP_BOT_PASSWORD}}'
          BTP_CUSTOM_IAS_TENANT: '${{ secrets.BTP_CUSTOM_IAS_TENANT }}'
          BTP_GLOBAL_ACCOUNT: '${{ secrets.BTP_GLOBAL_ACCOUNT }}'
          BTP_KYMA_SUBACCOUNT_ID: '${{ steps.create-btp-resources.outputs.subaccount_id }}'
          BTP_OBJECTSTORE_SUBACCOUNT_ID: '${{ secrets.BTP_OBJECTSTORE_SUBACCOUNT_ID }}'
          BTP_HANA_SUBACCOUNT_ID: '${{ secrets.BTP_HANA_SUBACCOUNT_ID }}'
      - name: test 
        run: |
          DOMAIN=$DOMAIN \
          make -C tests/btp e2e-test
        env:
          DOMAIN: '${{ steps.create-btp-resources.outputs.domain }}'
      - name: cleanup
        run: |
          make -C tests/btp cleanup
      - uses: kyma-project/terraform-module/.github/actions/force-delete-sap-btp-subaccount@0635a02ed7c63944f2e544d27603f3d2c72fee2b
        if: always()
        with:
          btp_subaccount_id: ${{ steps.create-btp-resources.outputs.subaccount_id }}
          btp_backend_url: ${{ secrets.BTP_BACKEND_URL}}
          btp_user: ${{ secrets.BTP_BOT_USER}}
          btp_password: ${{ secrets.BTP_BOT_PASSWORD}}
          btp_global_account: ${{ secrets.BTP_GLOBAL_ACCOUNT }}
          btp_idp_tenant: ${{ secrets.BTP_CUSTOM_IAS_TENANT }}